main {
	display: flex;
	flex-direction: column;
}

div#product_manager_zone {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;

	background: rgba(0, 0, 0, 0.6);
}

div#manager_bottom {
	flex: 1 0 auto;
	display: flex;
	flex-direction: row;
}

/* Category list */

div#category_list {
	max-height: 10%;
	display: flex;
	flex-direction: row;

	background-color: rgba(0, 0, 0, 0.2);
}

button.category_button {
	flex: 1 1 auto;

	background: rgba(0, 0, 0, 0.4);
	color: white;
	font-size: xx-large;
	border: none;
	border-radius: 0;
	border-top-right-radius: 25%;
	border-top-left-radius: 25%;
	padding-top: 0.25vw;
}

img.category_button_image {
	max-height: 100%;
	max-width: 1.5vw;
}

/* Product list */

div#product_list {
	flex: 1 0 auto;
	display: flex;
	flex-direction: column;

	width: 35%;
}

table#product_table {
	border-collapse: collapse;
}

table#product_table th {
	background-color: rgba(0, 0, 0, 0.5);
}

tr.product_row {
	background-color: rgba(0, 0, 0, 0.2);
}

tr.product_row td {
	padding: 1vw;

	vertical-align: middle;
	justify-content: center;
	text-align: center
}

tr.product_row img {
	max-height: 4vw;
	max-width: 4vw;
}

/* Details zone */

div#details_zone {
	flex: 1 1 auto;
}

div#details_zone > div {
	padding: 0.5vw;
}

div#details_zone * {
	min-height: 100%;

	display: flex;
	flex-direction: column;
}

div#details_zone div#placeholder {
	background-color: rgba(65, 12, 0, 0.311);
}
div#details_zone div#placeholder h2 {
	margin: auto;
	min-width: fit-content;
}

div#details_zone div#product_details {
	background-color: rgba(0, 38, 65, 0.311);
}

div#details_zone div#category_details {
	background-color: rgba(0, 65, 30, 0.311);
}

/* Gap between fields */

div#details_zone div.product_details_field {
	margin-bottom: 0.5vw;
}