main {
	display: flex;
	flex-direction: column;
}

div#product_manager_zone {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;

	background: rgba(0, 0, 0, 0.6);
}

div#manager_bottom {
	flex: 1 0 auto;
	display: flex;
	flex-direction: row;
}

/* Category list */

div#category_list {
	max-height: 10%;
	display: flex;
	flex-direction: row;

	background-color: rgba(0, 0, 0, 0.2);
}

button.category_button {
	flex: 1 1 auto;

	background: rgba(0, 0, 0, 0.4);
	color: white;
	font-size: xx-large;
	border: none;
	border-radius: 0;
	border-top-right-radius: 25%;
	border-top-left-radius: 25%;
	padding-top: 0.25vw;
}

img.category_button_image {
	max-height: 100%;
	max-width: 1.5vw;
}

/* Product list */

table#product_table {
	border-collapse: collapse;
}

tr.product_row {
	background-color: rgba(0, 0, 0, 0.2);
}

tr.product_row td {
	padding: 1vw;
}

tr.product_row img {
	max-height: 4vw;
	max-width: 4vw;
}