body {
	margin: 0; /* Prevents the browser from putting a white zone around the page */
	overflow: auto;
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	font-family: 'Minecraft', sans-serif
}

/* Custom font */

@font-face {
	font-family: 'Minecraft';
	src: url("../fonts/MinecraftRegular-Bmg3.otf");
	font-weight: normal;
	font-style: normal;
}

.hidden {
    display: none !important;
}

a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

img {
	max-width: 100%;
	max-height: 100%;
}

/* Navigation bar */

nav#navbar {
	padding: 1%;
	width: 12vw;
	min-width: 200px;
	min-height: 100vh;

	background-image: url("../img/oak.webp");
	background-size: 10vw;
	color: rgb(255, 255, 255);
	border-right: 2px solid rgba(25, 25, 25, 0.3);

	text-wrap: wrap;
}
nav#navbar a {
	color: white;
	text-decoration: none;
	margin-bottom: 0;
	display: flex;
	align-items: center;
}
nav#navbar a:hover {
	text-decoration: underline;
}

ul#product_list {
	padding-left: 10px;
}
ul#product_list li {
	list-style-type: none;

	display: flex;
	align-items: center;
	margin-bottom: 2%;
}
ul#product_list li:hover {
	transition: transform 0.2s;
	transform: translateY(-3px);
}
ul#product_list li img {
	width: 13%;
	padding-right: 5%;
}

/* Navbar indication animation */
nav#navbar {
	animation: i_exist 5s ease-in-out 0s infinite;
}
nav#navbar.active {
	animation: none;
}
@keyframes i_exist {
	from {
		transform: translateX(-93%);
	}
	15% {
		transform: translateX(-87%);
	}
	30% {
		transform: translateX(-93%);
	}
	to {
		transform: translateX(-93%);
	}
}

/* Dynamic navbar */

nav#navbar {
    position: fixed;
    z-index: 9999;
    overflow-y: auto;

	box-shadow: 2px 0px 0.25em 0.1em rgba(0, 0, 0, 0.6);
}
nav#navbar.active {
    transform: translateX(0);
}

#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 9998; /* Ensure the overlay is behind the navbar */
    display: none;
}
#overlay.active {
    display: block;
}

/* Main view */
div#page_content {
	margin-left: 1%;
	display: flex;

	flex-direction: column;
	flex-grow: 1;
}

/* Header */

header {
	display: flex;

	background-image: url('../img/banner.webp');
	background-size: cover;
	background-position: center;
}

/* Header Left side */
a#logo_zone {
	display: flex;
	align-items: center;
	min-width: fit-content;
	padding: 1%;
}
a#logo_zone img#logo_icon {
	width: 4vw;
	min-width: 13%;
	margin-right: 1.5vw;
	box-shadow: 0px 0px 0.25em 0.1em rgba(255, 77, 0, 0.356);

	animation: rotation 1s ease-in-out 0s infinite;
}
@keyframes rotation {
	from {
		transform: rotate(-2deg);
	}

	50% {
		transform: rotate(2deg);
	}

	to {
		transform: rotate(-2deg);
	}
}
a#logo_zone img#logo_text {
	width: 17vw;
	min-width: 50%;

	animation: bounce 2s ease-in-out 0s infinite;
}
@keyframes bounce {
	from {
		transform: scale(0.97, 0.97);
	}

	50% {
		transform: scale(1.01, 1.05);
	}

	to {
		transform: scale(0.97, 0.97);
	}
}

/* Header right side */
div#header_end_zone {
	margin-left: auto;
	display: flex;
	flex-direction: column;
}
div#account_zone {
	margin-top: 1%;
	margin-right: 1%;
	margin-left: auto;
	color: white;
}
div#account_zone a {
	color: white;
	text-decoration: none;
}
div#account_zone a:hover {
	text-decoration: underline;
}

div#link_zone {
	display: flex;
	margin-top: auto;
	width: fit-content;
}
div#link_zone a {
	border-top-right-radius: 0.5vw;
	border-top-left-radius: 0.5vw;
	padding: 0.8vw;
	padding-top: 0.5vw;
	padding-bottom: 0.5vw;
    text-decoration: none;

	background-color: rgb(117, 117, 117);
	color: rgb(255, 255, 255);
	box-shadow: inset 0px 0px 0.25em 0.1em rgb(55, 55, 55);
}

/* Header - Mobile mode */
@media (max-width: 768px) {
	header {
		flex-direction: column;
	}
	div#logo_zone {
		display: flex;
		align-items: center;
		justify-content: center;
		min-width: fit-content;
		padding: 1%;
	}
	div#logo_zone img#logo_icon {
		margin-right: 4vw;
	}
	div#header_end_zone {
		margin-right: auto
	}
	div#account_zone {
		margin-right: auto;
	}
}

/* Main area */

main {
	flex: 1 1 auto;
	padding: 1.5vw;

	background-image: url("../img/stone.webp");
	background-size: 10vw;
	box-shadow: inset 0px 0px 0.25em 0.2em rgba(0, 0, 0, 0.552);
	color:white
}

/* Bottom */

footer {
	padding: 1%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	background-image: url("../img/obsidian.webp");
	box-shadow: 0px -8px 5px rgba(255, 77, 0, 0.356);
	color: rgb(170, 170, 170);
}

footer div.footer_grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

footer div.footer_column {
	display: flex;
	flex-direction: column;
}
footer div.footer_column a {
	width: max-content;
	height: fit-content;

	color: rgb(160, 160, 160);
	text-decoration: none;
}
footer div.footer_column a:hover {
	color: rgb(255, 255, 255);
}
footer div.footer_column a.emerald {
	color: rgb(55, 255, 0);
}
footer div.footer_column a.blaze {
	color: rgb(229, 38, 0);
}
footer div.footer_column a.blaze:hover {
	color: rgb(255, 0, 0);
}
footer p {
	margin-top: 0.2vw;
	margin-bottom: 0.2vw;

	color: rgb(180, 180, 180);
}
footer p.please_dont_see_this {
	opacity: 0.5;
}

input[type=submit]{
	background-image: url("../img/widget.png");
	background-size: 100% 100%;
	font-family: 'Minecraft', sans-serif;
	cursor: pointer;
	color: white;
}

input[type=submit]:hover{
	background-image: url("../img/widgetclicked.png");
	border-color: white;
}

input{
	font-family: 'Minecraft', sans-serif;
}

input.invalid {
    color: red;
    background-color: #ffb7be;
    border: solid red 1px;
    margin-bottom: 5px;
}

select.invalid {
    border: solid red 1px;
}

div.invalid > label {
    color: red;
}

div.invalid > input[type=radio] {
    background-color: #ffb7be;
    border: solid red 1px;
}

.error {
    color: red;
    font-size: small;
}
