body {
	margin: 0; /* Prevents the browser from putting a white zone around the page */
	font-family: 'Arial', sans-serif;
	overflow: auto;
}

header {
	background-color: green;
}
header img {
	max-width: 5%;
	max-height: 5%;
	margin: 1%;
}

div.container {
	display: flex;
}
nav {
	background-color: gray;
	width: 10%
}

main {
	background-color: rgb(82, 27, 0);
}

footer {
	background-color: rgb(49, 49, 58);
	width: 100%;
	padding: 1%;

	display: flex;

	align-items: center;
	justify-content: center;
}

footer p {
	color: rgb(214, 214, 214);
	width: max-content;
}