.sign {
    background-image: url("../img/signtropstylezebi.png");
    padding : 2%;
    border : solid;
    border-color: black;
    border-width: 2px;
	box-shadow: 0px 0px 0.30em 0.05em rgba(0, 0, 0, 0.6);
}

.grill {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}

.grill input {
    grid-column: 2;
}

.grill label {
    grid-column: 1;
}

#genre {
    grid-column: 2;
}

#genre input {
    margin-right: 20%;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.button input {
    border : solid;
    border-color: black;
    border-width: 1px;
    width: 40%;
    padding: 10px;
}

#imgprofile {
    background-image: url("../img/signtropstylezebi.png");
    border : solid;
    border-color: black;
    border-width: 6px;
}

#title {
    font-size:xx-large;
}

.sign #title img {
    height: 4%;
    width: 4%;
    border : solid;
    border-color: black;
    border-width: 1px;
    margin-right: 50px;
}

#job {
    font-family: 'Minecraft', sans-serif;
}
